<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         convertDeprecationsToExceptions="true"
         forceCoversAnnotation="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         verbose="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
>
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">test/unit</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <!--TODO: Do we want to use phpunit for ports testing?-->
            <directory>src/*/Ports</directory>
        </exclude>
    </coverage>
</phpunit>
